<div class="jumbotron">
      <div class="container">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <h1>Sign Up Form</h1> <hr/>
              <form name="signUpForm" novalidate ng-submit="submitForm()">
            <!--First Name-->
            <div class="form-group has-feedback" ng-class=" {
            'has-warning': signUpForm.fname.$pristine,
            'has-error': signUpForm.fname.$invalid && !signUpForm.fname.$pristine,
            'has-success': signUpForm.fname.$valid}">
              <input type="text" class="form-control" ng-model="signUpData.fname" name="fname" placeholder="First Name" required>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="signUpForm.fname.$pristine"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.fname.$invalid && !signUpForm.fname.$pristine"></span>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.fname.$valid"></span>
            </div>
            <!--Last Name-->
            <div class="form-group has-feedback" ng-class=" {
            'has-warning': signUpForm.lname.$pristine,
            'has-error': signUpForm.lname.$invalid && !signUpForm.lname.$pristine,
            'has-success': signUpForm.lname.$valid}">
              <input type="text" class="form-control" ng-model="signUpData.lname" name="lname" placeholder="Last Name" required>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="signUpForm.lname.$pristine"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.lname.$invalid && !signUpForm.lname.$pristine"></span>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.lname.$valid"></span>
            </div>
            <!--Email-->
            <div class="form-group has-feedback" ng-class=" {
            'has-warning': signUpForm.email.$pristine,
            'has-error': signUpForm.email.$invalid && !signUpForm.email.$pristine,
            'has-success': signUpForm.email.$valid}">
              <input type="email" class="form-control" ng-model="signUpData.email" name="email" placeholder="Email Address" check-email="signUpData.email" required>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="signUpForm.email.$pristine"></span>
              <span class="form-control-feedback" ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" aria-hidden="true">
                <i class="fa fa-spinner fa-pulse"></i>
              </span>
              <span ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine"><code>Email Address must be Valid and Unique</code></span>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.email.$valid"></span>
            </div>
            <!--Password-->
            <div class="form-group has-feedback" ng-class=" {
            'has-warning': signUpForm.password.$pristine,
            'has-error': signUpForm.password.$invalid && !signUpForm.password.$pristine,
            'has-success': signUpForm.password.$valid}">
              <input type="password" class="form-control" ng-model="signUpData.password" name="password" placeholder="Password" required>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="signUpForm.password.$pristine"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine"></span>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.password.$valid"></span>
            </div>
            <!--Confirm Password-->
            <div class="form-group has-feedback" ng-class=" {
            'has-warning': signUpForm.cpassword.$pristine,
            'has-error': signUpForm.cpassword.$invalid && !signUpForm.cpassword.$pristine,
            'has-success': signUpForm.cpassword.$valid}">
              <input type="password" class="form-control" ng-model="signUpData.cpassword" name="cpassword" placeholder="Confirm Password" password-match="signUpData.password" required>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="signUpForm.password.$pristine"></span>
              <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.cpassword.$invalid && !signUpForm.cpassword.$pristine"></span>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.cpassword.$valid"></span>
            </div>
            <!--Interests-->
            <div class="form-group" ng-class=" {
            'has-success': signUpForm.interests.$pristine || signUpForm.interests.$valid}">
              <input type="text" class="form-control" ng-model="signUpData.interests" name="interests" placeholder="Interests e.g. Hiking, Biking">
            </div>
            <!--Bio-->
            <button ng-disabled="!signUpForm.$valid" type="submit" class="btn btn-success">Submit</button>
          </form>
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
</div>